@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    padding: 30px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(119, 119, 119);
}
/* 1st page */
.container-1{
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero-small.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
}
.container-1 img{
    height: 3.5rem;
}
.top{
    padding: 4rem;
}
.menu{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin: -1rem;
    position: fixed;
    top: 7rem;
    right: 7rem;
}
.menu:hover{
    gap: 0.9rem;
}

.bottom{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.bottom h1{
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    color: white;
    text-align: center;
}
.bottom span{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    color: white;
    display: block;
    text-align: center;
}
.bottom button{
    background-color: #fff;
    font-size: 1.5rem;
    width: 252.062px;
    height: 57.9px;
    font-weight: 400;
    margin: auto;
    border-radius: 10rem;
    border: none;
    color: rgb(119, 119, 119);
}

/* Utility Classes */
.point:hover{
    cursor: pointer;
}