/* Page 2 */
.right {
    padding: 0;
}

.nat-1 {
    width: 65%;
    left: 0;
}

.nat-2 {
    left: 40%;
    width: 65%;
}

.nat-3 {
    left: 16%;
    top: 35%;
    width: 65%;
}

@media screen and (max-width:1205px) and (min-width:768px) {
    .nat-1 {
        top: 28%;
    }

    .nat-2 {
        top: 35%;
    }

    .nat-3 {
        top: 50%;
    }

    /* Page 3 */
    .boxes {
        flex-direction: column;
        align-items: center;
    }
}
/* Page 5 */
.reviews{
    padding: 4rem;
    width: 85%;
}
/* Page 6 */
.form{
    width: 80%;
}
.radioButtons span{
    font-size: 1rem;
}

/* Footer */
.foot-info{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left-info{
    width: 50%;
}
.left-info ul a{
    font-size: 1rem;
}
.right-info{
    width: 50%;
}